<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <properties>
        <property name="LOG_PATH">${env:LOG_PATH:-./logs}</property>
        <property name="LOG_PATTERN">
            %d %p %t traceid:%X{traceid} pspanid:%X{pspanid} spanid:%X{spanid} %c#%M:%L %msg%n
        </property>
    </properties>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!--业务日志-->
        <RollingRandomAccessFile name="BusinessFile"
            fileName="${LOG_PATH}/business.log"
            filePattern="${LOG_PATH}/history/business-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <!-- 不打印 WARN 及以上级别的日志 -->
            <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_PATH}/history" maxDepth="1">
                    <IfFileName glob="business*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

    </appenders>

    <Loggers>

<!--        <logger name="mapper" level="DEBUG" additivity="false">-->
<!--            <appenderref ref="BusinessFile"/>-->
<!--        </logger>-->

        <!-- 业务日志 -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="BusinessFile"/>
        </Root>
    </Loggers>
</configuration>