<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <properties>
        <property name="LOG_PATH">${env:LOG_PATH:-./logs}</property>
        <property name="LOG_PATTERN">
            %d %p %t traceid:%X{traceid} pspanid:%X{pspanid} spanid:%X{spanid} %c#%M:%L %msg%n
        </property>
    </properties>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!--业务日志-->
        <RollingRandomAccessFile name="BusinessFile"
            fileName="${LOG_PATH}/business.log"
            filePattern="${LOG_PATH}/history/business-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy maxFileSize="1GB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <!-- 自动删除 7 天之前的日志 -->
                <Delete basePath="${LOG_PATH}/history" maxDepth="1">
                    <IfFileName glob="business*.log.zip"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

    </appenders>

    <Loggers>

<!--        <logger name="mapper" level="DEBUG" additivity="false">-->
<!--            <appenderref ref="BusinessFile"/>-->
<!--        </logger>-->

        <!-- 业务日志 -->
        <root level="INFO">
            <appenderref ref="Console"/>
            <appenderref ref="BusinessFile"/>
        </root>
    </Loggers>
</configuration>