<configuration>
    <!-- 使用手册 https://logback.qos.ch/manual/index.html -->

    <variable name="BASE_LOG_DIR" value="${LOG_DIR:-./logs}"/>

    <!-- 格式文档：https://logback.qos.ch/manual/layouts.html#conversionWord -->
    <variable name="LOG_PATTERN"
              value="%d %level [%thread] traceid:%X{traceid} pspanid:%X{pspanid} spanid:%X{spanid} [%C#%M:%L] %m%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="BUSINESS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${BASE_LOG_DIR}/business.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${BASE_LOG_DIR}/business.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- 每个文件最大为 1GB，保留 60 天的历史记录，历史总文件大小不能超过 20GB -->
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 系统启动时，清除过期的历史文件 -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- name 前缀匹配，对于这些前缀的输出，限制日志级别 -->
    <logger name="org.apache.zookeeper" level="warn"/>
    <logger name="org.apache.curator" level="warn"/>
    <logger name="com.alibaba.dubbo" level="warn"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="BUSINESS_FILE"/>
    </root>

</configuration>
