<?xml version="1.0"?><!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">

<!-- document https://checkstyle.sourceforge.io/checks.html -->

<module name="Checker">
    <property name="basedir" value="src/main"/>
    <property name="fileExtensions" value="java, properties"/>

    <!-- 使用 @SuppressWarnings 注解抑制检查项 -->
    <module name="SuppressWarningsFilter"/>
    <!-- 使用 '// CHECKSTYLE:OFF' 和 '// CHECKSTYLE:ON' 忽略范围内的检查 -->
    <module name="SuppressWithPlainTextCommentFilter"/>

    <!-- 限制每行的字符数 -->
    <module name="LineLength">
        <property name="max" value="120"/>
        <property name="fileExtensions" value="java"/>
        <property name="ignorePattern"
                  value="^( *\* *([^ ]+|\{@code .*|&lt;a href=&quot;[^&quot;]+&quot;&gt;)|(package|import) .*)$"/>
    </module>
    <!-- 限制文件行数 -->
    <module name="FileLength">
        <property name="max" value="2000"/>
        <property name="fileExtensions" value="java"/>
    </module>
    <!-- 翻译文件完整性检查 -->
    <module name="Translation">
        <property name="baseName" value="^messages.*$"/>
        <property name="fileExtensions" value="properties"/>
    </module>
    <!-- 文件中是否包含 '\t' 字符 -->
    <module name="FileTabCharacter">
        <property name="fileExtensions" value="java, properties"/>
    </module>
    <!-- properties 文件是否有重复的 key -->
    <module name="UniqueProperties"/>

    <module name="TreeWalker">
        <property name="fileExtensions" value="java, properties"/>
        <property name="tabWidth" value="4"/>

        <!--
            使用 '// SUPPRESS CHECKSTYLE' 为前缀的注释标记为忽略
            int a = 1; // SUPPRESS CHECKSTYLE xxx
        -->
        <module name="SuppressWithNearbyCommentFilter">
            <property name="commentFormat" value="SUPPRESS CHECKSTYLE(\.*)"/>
        </module>

        <!-- Annotations -->
        <!-- 注释应该单独一行 -->
        <module name="AnnotationLocation">
            <property name="allowSamelineSingleParameterlessAnnotation" value="false"/>
        </module>
        <!-- 标有 @Deprecated 的，必须在 javadoc 中使用 @deprecated 进行注释 -->
        <module name="MissingDeprecated"/>
        <!-- 重写的方法必须标有 @Override 注解 -->
        <module name="MissingOverride"/>
        <!-- 禁止空的 @SuppressWarnings("") 注解 -->
        <module name="SuppressWarnings"/>

        <!-- Block Checks -->
        <!-- 避免内嵌块 {} -->
        <module name="AvoidNestedBlocks"/>
        <!-- 禁止使用空的块，比如空的for、try、while等 -->
        <module name="EmptyBlock"/>
        <!-- 禁止使用空的catch块，变量名为 expected|ignore 除外 -->
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignore"/>
        </module>
        <!-- 左 { 不需要换行，右 { 需要换行 -->
        <module name="LeftCurly"/>
        <module name="RightCurly"/>

        <!-- Class Design -->

        <!-- Coding -->
        <!-- 进制双重的 {{ xxx }} 的初始化 -->
        <module name="AvoidDoubleBraceInitialization"/>
        <!-- 定义 equals(xxx) 时必须重写 equals(Object) -->
        <module name="CovariantEquals"/>
        <!-- switch 中 default 必须在最后一个 -->
        <module name="DefaultComesLast"/>
        <!-- 不能有单独的 ; 空语句 -->
        <module name="EmptyStatement"/>
        <!-- 避免调用 equals 方法时发生 NPE 异常 -->
        <module name="EqualsAvoidNull"/>
        <!-- 不能在赋值语句中有子赋值语句, such as in String s = Integer.toString(i = 2);. -->
        <module name="InnerAssignment"/>
        <!-- switch 中必须有 default -->
        <module name="MissingSwitchDefault"/>
        <!-- 控制循环的变量不能在循环体中被修改 -->
        <module name="ModifiedControlVariable"/>
        <!-- 同一行不能有多个变量定义 -->
        <module name="MultipleVariableDeclarations"/>
        <!-- 限制 for 嵌套的深度 -->
        <module name="NestedForDepth">
            <property name="max" value="3"/>
        </module>
        <!-- 限制 if 嵌套的深度 -->
        <module name="NestedIfDepth">
            <property name="max" value="3"/>
        </module>
        <!-- 限制 try 嵌套的深度 -->
        <module name="NestedTryDepth">
            <property name="max" value="3"/>
        </module>
        <!-- 数组定义中结尾元素后不允许有逗号 -->
        <module name="NoArrayTrailingComma"/>
        <!-- 不允许重写 finalize 方法 -->
        <module name="NoFinalizer"/>
        <!-- 一行只能有一条语句 -->
        <module name="OneStatementPerLine"/>
        <!-- class 文件必须定义在 package 中，并且 package 的名字和目录名要匹配 -->
        <module name="PackageDeclaration"/>
        <!-- 加上 this. 减少代码冲突 -->
        <module name="RequireThis"/>
        <!-- 使用简单的 boolean 表达式，反例 if (b == true) -->
        <module name="SimplifyBooleanExpression"/>
        <!-- 使用简单的 boolean 返回值，反例 return if(flag) {return true;} else {return false;}  -->
        <module name="SimplifyBooleanReturn"/>
        <!-- string 类型的变量不能使用 == 或 != 进行比较 -->
        <module name="StringLiteralEquality"/>
        <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/>
        <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>
        <module name="UnnecessarySemicolonInEnumeration"/>
        <module name="UnnecessarySemicolonInTryWithResources"/>
        <!-- 检查没有使用的变量 -->
        <module name="UnusedLocalVariable"/>
        <!-- 检查变量的定义和使用之间的行数 -->
        <module name="VariableDeclarationUsageDistance">
            <property name="allowedDistance" value="5"/>
        </module>

        <!-- Headers -->

        <!-- Imports -->
        <!-- 不能使用 * 进行导入 -->
        <module name="AvoidStarImport"/>
        <!-- 检查导入分组的顺序 -->
        <module name="CustomImportOrder">
            <property name="customImportOrderRules" value="STANDARD_JAVA_PACKAGE###THIRD_PARTY_PACKAGE###STATIC"/>
        </module>
        <!-- 冗余的导入 -->
        <module name="RedundantImport"/>
        <!-- 不应该有无用的导入 -->
        <module name="UnusedImports"/>

        <!-- Javadoc Comments -->
        <!-- Checks that Javadocs are located at the correct position. -->
        <module name="InvalidJavadocPosition"/>
        <!-- Checks that the Javadoc content begins from the same position for all Javadoc comments in the project. -->
        <module name="JavadocContentLocationCheck"/>
        <!-- Checks if the javadoc has leading asterisks on each line. -->
        <module name="JavadocMissingLeadingAsterisk"/>
        <!-- Checks that there is at least one whitespace after the leading asterisk. -->
        <module name="JavadocMissingWhitespaceAfterAsterisk"/>
        <!-- Checks that a Javadoc block can fit in a single-line and doesn't contain block tags. -->
        <module name="SingleLineJavadoc">
            <property name="ignoredTags" value="@inheritDoc, @see"/>
        </module>

        <!-- Metrics -->
        <!-- Restricts the number of boolean operators (&&, ||, &, | and ^) in an expression. -->
        <module name="BooleanExpressionComplexity"/>

        <!-- Miscellaneous -->
        <!-- 检查数组定义的样式，反例 String args[] -->
        <module name="ArrayTypeStyle"/>
        <!-- 不允许使用 Unicode 字符 -->
        <module name="AvoidEscapedUnicodeCharacters"/>
        <!-- 控制注释的缩进 -->
        <module name="CommentsIndentation">
            <property name="tokens" value="BLOCK_COMMENT_BEGIN"/>
        </module>
        <!-- 配置检查：不允许有空的方法体 -->
        <module name="DescendantToken">
            <property name="tokens" value="EMPTY_STAT"/>
            <property name="limitedTokens" value="EMPTY_STAT"/>
            <property name="maximumNumber" value="0"/>
            <property name="maximumDepth" value="0"/>
            <property name="maximumMessage" value="Empty statement is not allowed."/>
        </module>
        <!-- 检查缩进 -->
        <module name="Indentation"/>
        <module name="NoCodeInFile"/>
        <!-- 类名和文件名要对应 -->
        <module name="OuterTypeFilename"/>
        <module name="TodoComment"/>
        <!-- long 类型变量使用 'L' 而不是 'l' -->
        <module name="UpperEll"/>

        <!-- Naming Conventions -->
        <module name="AbbreviationAsWordInName">
            <property name="allowedAbbreviationLength" value="5"/>
        </module>
        <!-- 抽象类使用 Abstract 开头 -->
        <module name="AbstractClassName"/>
        <module name="CatchParameterName"/>
        <module name="ClassTypeParameterName"/>
        <module name="ConstantName"/>
        <module name="InterfaceTypeParameterName"/>
        <module name="LambdaParameterName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="MethodTypeParameterName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="RecordComponentName"/>
        <module name="RecordTypeParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>

        <!-- Regexp -->

        <!-- Size Violations -->
        <!-- 限制匿名内部类的行数 -->
        <module name="AnonInnerLength">
            <property name="max" value="60"/>
        </module>
        <module name="LambdaBodyLength">
            <property name="max" value="30"/>
        </module>
        <!-- 普通方法 -->
        <module name="MethodLength">
            <property name="tokens" value="METHOD_DEF"/>
            <property name="max" value="300"/>
            <property name="countEmpty" value="false"/>
        </module>
        <!-- 构造方法 -->
        <module name="MethodLength">
            <property name="tokens" value="CTOR_DEF"/>
            <property name="max" value="80"/>
            <property name="countEmpty" value="false"/>
        </module>
        <!-- 限制一个类文件内里定义多个类 -->
        <module name="OuterTypeNumber">
            <property name="max" value="3"/>
        </module>
        <!-- 限制参数的数量 -->
        <module name="ParameterNumber">
            <property name="max" value="10"/>
        </module>

        <!-- Whitespace -->
        <module name="EmptyForInitializerPad"/>
        <module name="EmptyForIteratorPad"/>
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
        </module>
        <module name="GenericWhitespace"/>
        <module name="MethodParamPad">
            <property name="allowLineBreaks" value="true"/>
        </module>
        <!-- 检查 PACKAGE_DEF, IMPORT, STATIC_IMPORT 是否换行了，不允许换行 -->
        <module name="NoLineWrap"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="NoWhitespaceBeforeCaseDefaultColon"/>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="SeparatorWrap">
            <property name="tokens" value="DOT"/>
            <property name="option" value="nl"/>
        </module>
        <module name="SingleSpaceSeparator"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>

    </module>
</module>